<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" [src] ="productItem.imageURL">

    <div class="card-body">
        <p class="card-text">
            <strong>{{productItem.name}}</strong>
            <i *ngIf="addedToWishList" class="fas fa-heart float-right" (click)="handleRemoveCart()"></i>

            <i *ngIf="!addedToWishList" class="far fa-heart float-right" (click)="addWishlist(productItem.name, productItem.price)"></i>
        </p>
      <p class="card-text">{{productItem.category}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button 
          type="button" 
          class="btn btn-outline"
         >{{productItem.price | currency}}</button>

        
          <!--<button type="button" (click)="detailproduct(products._id, products)" class="btn btn-sm btn-outline-dark product-btn">View Details</button>-->
        </div>
      </div>
    </div>
  </div>
