<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" src ="https://fashionista.com/.image/c_fit%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_620/MTcxMjUwNTE5Nzk1MzEyNjIy/p442563-av-01-zoom.jpg">

    <div class="card-body">
        <p class="card-text">
            <strong>{{35.00 | currency}}</strong>
        </p>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary product-btn">Add To WishList</button>
          <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
        </div>
        
      </div>
    </div>
  </div>
