<!--<div *ngIf ="cartItems.length === 0" class="alert alert-info">Wish List is empty!</div>

<ul *ngIf ="cartItems.length > 0" class = "list-group">
<li class="list-group-item" *ngFor = "let item of cartItems">
    <app-cart-item [cartItem]="item"></app-cart-item>
</li>

<li class="list-group-item active">
<strong>Total</strong>: {{cartTotal | currency}}
</li>-->


<div class="right">

    <h3>Wishlist</h3>
    <div class="cart-item">
    <ul class="list-group">
        <li *ngFor ="let w of wishlists | async" class="list-group-item">
        <span>{{ w.name }} : </span>
        <strong>{{ w.Price | currency }}</strong>
    </li>
    </ul>
</div>

</div>