
<h1>Details</h1>

<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="50px" height="600px" [src] ="Product.imageURL">

    <div class="card-body"> 
    
    <p class="card-text"> <strong>Name : </strong>{{Product.name}}</p>
     <p class="card-text"><strong>Category :</strong> {{Product.category}}</p>
     <p class="card-text"><strong>Brand :</strong> {{Product.brand}}</p>
    <p class="card-text"><strong>Price :</strong> {{Product.price | currency}}</p>
     <p class="card-text"><strong>ID :</strong> {{Product.isbn}}</p>
      </div>
    </div>
 
