<div>
    <h1>You tube channel search</h1>
    <label for ="channelName">Channel Name: </label>
    <input #channelName type="text" placeholder="youtube channel..." required>

    <button (click)="getData()">get channels</button>
    <ul *ngFor="let channel of channels">
        <a target ="_blank" href="https://www.youtube.com/channel/{{channel.id.channelId}}">
        
        <img  class = "img-thumbnail" width ="200" height ="200" src="{{channel.snippet.thumbnails.medium.url}}"/>
    </a>
        {{channel.snippet.channelTitle}}

    </ul>
</div>