
<div class="row">
  <div class="col" *ngFor = "let i of [1,2,3,4,5,6]">
      <app-product-item></app-product-item>
    </div>
  </div>



<!----<p>product-list works!</p>


<h2 *ngIf = "message">{{message}}</h2>
<app-product-row *ngFor="let p of productList"
[product]="p"
(click)='clicked(p)'></app-product-row>

<app-product-details *ngIf="currentProduct" [product]="currentPrpduct">

</app-product-details>-->

<!--<div class="container-fluid">
    <button (click)="openAddProduct()" *ngIf="!showProductForm"
    class="btn btn-lig btn-outline-primary">Add Product</button>

    <button (click)="openEditProduct()" *ngIf="!showProductForm" [disabled]="!currentProduct"
class="btn btn-lg btn-outline-primary" >Edit Product</button>


<app-product-form *ngIf="showProductForm" 
(productFormClose)="productFormClose($event)" [book]="currentProduct"></app-product-form>  

  <p>
    <ngb-alert *ngIf="message" [dismissible]="true">
      <strong>Warning!</strong> {{message}}
    </ngb-alert>
  </p>
 
    <app-product-row class="card" *ngFor="let p of productList"
    [product]="p"
    (click)='clicked(p)'
    [class.bg-info]="isSelected(p)" [class.text-white]="isSelected(p)"></app-product-row>

    <app-product-details *ngIf="currentProduct" [product]="currentProduct">
 </app-product-details>



</div>-->

